Django==2.2
setuptools
xlwt

# djangoplicity
git+https://@github.com/djangoplicity/djangoplicity.git@release/python3

# PostgreSQL python client
psycopg2-binary==2.8.5

# Asynchronous Task Queue
celery==4.4.7

# Python 2/3 compatibility library
future
