Django==1.11.21
setuptools
xlwt

# djangoplicity
git+https://@github.com/djangoplicity/djangoplicity.git@upgrade/manual-python3-upgrades

# PostgreSQL python client
psycopg2-binary==2.8.5

# Asynchronous Task Queue
celery==4.3.0
