{% extends "admin/base_site.html" %}
{% load admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/changelists.css" />
  {{ media.css }}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% with search as original %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo;
     {% trans "Results" %}
</div>
{% endwith %}
{% endblock %}

{% block content %}
<h1>The Custom Search: "{{ search.name }}" is being generated and will be emailed to {{ email }}.</h1>

{% endblock %}
