{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  {{ media.css }}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}{% with search as original %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo;
     {% trans "Results" %}
</div>
{% endwith %}
{% endblock %}


{% block coltype %}flex{% endblock %}
{% block site_title %}{% endblock %}

{% block content %}
 <h1>Custom Search: {{ search.name }}</h1>
<p><strong>Description:</strong> {{search.human_readable_text}}</p>
{% if error %}
    <p class="errornote" style="float: left;"> 
    Error in query: {{error}}.
    </p> 
{% else %}
<p><strong>Total:</strong> {{object_count}}</p>
{% endif %}

<div id="content-main">
    {% block object-tools %}
    	
        <ul class="object-tools">
          {% block object-tools-items %}
          {% if not error %}
            <li><a href="../labels/{% if searchval %}?s={{ searchval|escape }}{% endif %}" class="historylink">Labels</a></li>
            <li><a href="../export/{% if searchval %}?s={{ searchval|escape }}{% endif %}" class="historylink">Export</a></li>
          {% endif %}
            <li><a href="../" class="historylink">Edit</a></li>
          {% endblock %}
        </ul>
        
    {% endblock %}
{% if not error %}
    <div class="module{% if filtered %} filtered{% endif %}" id="changelist">
      {% block search %}
		<div id="toolbar"><form id="changelist-search" action="" method="get">
		<div><!-- DIV needed for valid HTML -->
		<label for="searchbar"><img src="{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="Search" /></label>
		<input type="text" size="40" name="s" value="{{ searchval|escape }}" id="searchbar" />
		<input type="submit" value="{% trans 'Search' %}" />
		</div>
		</form></div>
		<script type="text/javascript">document.getElementById("searchbar").focus();</script>
      {% endblock %}
      {% block filters %}
      {% endblock %}
      <form id="changelist-form" action="" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
      {% block result_list %}
          	{% if objects.object_list %}
			<table cellspacing="0" id="result_list">
			<thead>
			<tr>
			{% for name,field_name in search.layout.header %}
			<th>{{name}}</th>
			{% endfor %}
			</tr>
			</thead>
			<tbody>
			{% for row in data_table %}
			<tr class="{% cycle 'row1' 'row2' %}">
			{% for value in row.values %}
			<td>{{value}}</td>
			{% endfor %}
			</tr>
			{% endfor %}
			</tbody>
			</table>
			{% endif %}

      {% endblock %}
		<p class="paginator">
		{% if objects.has_other_pages %}
		{% for i in objects.paginator.page_range %}
		{% if objects.number == i %}<span class="this-page">{{i}}</span>{% else %}<a href="?p={{i}}">{{i}}</a> {% endif %}		
		{% endfor %}
		{% endif %}
		</p>
      </form>
    </div>
{% endif %}
  </div>

{% endblock %}
